

<h3 class="text-primary">@ViewBag.msg</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateRole" method="post">
            <label>Role Name</label>
            <input type="text" name="rname" class="form-control" value="" /><br /><br />
            <input type="submit" class="btn btn-primary"  value="Create Role" />
        </form>
    </div>
</div>